.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
bin
gen
local.properties
*.jar
*.log
war/WEB-INF/classes
war/WEB-INF/lib
war/WEB-INF/dataMessagingToken.txt
war/WEB-INF/appengine-generated
