<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.lowetek.caltrainalerts.android" android:versionCode="4"
	android:versionName="1.1.1">
	
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- required for accessing the device ID -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<!-- Cloud to Device Messaging permissions -->
    <permission
        android:name="net.lowetek.caltrainalerts.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="net.lowetek.caltrainalerts.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	
	
	
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true">
		<activity 
		    android:name=".activity.Main" 
		    android:label="@string/app_name"
		    android:theme="@style/CaltrainUpdates"
		    >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name=".UpdatesService">
			<intent-filter>
				<action android:name="net.lowetek.caltrainalerts.android.refresh"></action>
			</intent-filter>
		</service>
		<provider android:authorities="net.lowetek.caltrainalerts"
			android:name=".UpdatesProvider"></provider>

		<!--
			In order to use the c2dm library, an application must declare a class
			with the name C2DMReceiver, in its own package, extending
			com.google.android.c2dm.C2DMBaseReceiver It must also include this
			section in the manifest, replacing
			"com.google.android.apps.chrometophone" with its package name.
		-->
		<service android:name=".C2DMReceiver" />

		<!--
			Only Google services can send messages to the app. If this permission
			weren't set any other app would be able to send messages to us.
		-->
		<receiver android:name="com.google.android.c2dm.C2DMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<!-- Receive actual messages -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="net.lowetek.caltrainalerts.android" />
			</intent-filter>
			<!-- Receive registration ids -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="net.lowetek.caltrainalerts.android" />
			</intent-filter>
		</receiver>
		<activity android:name=".activity.Preferences"></activity>


	</application>
<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
</manifest> 
